{% extends 'base.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-expand justify-content-center" style="background-color: #00796B;">
    <h1>Edit Item</h1>
</nav>

<div class="h-100 d-flex align-items-center justify-content-center" style="margin-top: 100px;">
    <form method="POST">  
        {% csrf_token %}  
        <table style="justify-items: center;">  
            {{ form.as_table }}  
            <tr>  
                <td></td>
                <td><input type="submit" value="Add Item" class="btn btn-success"></td>  
            </tr>  
        </table>    
    </form>
</div>

{% endblock %}