{% extends 'base.html' %}

{% block meta %}
    <style>
        .item-actions {
            display: flex;
            align-items: center;
            gap: 10;
        }
        .container {
            text-align: center;
        }
        .main {
            padding-top: 30px;
        }
        .footer {
            margin-top: 40px;
        }
    </style>
{% endblock meta %}

{% block content %}

    <nav class="navbar navbar-expand" style="background-color: #00796B;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ appname }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ name }}
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>    

    <div class="container main">
    
        <div class="container">
            <p>Kamu menyimpan {{ items|length }} item pada aplikasi ini</p>
        </div>
        
        {% if items %}
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
                <th></th>
            </tr>
    
            {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}
    
            {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.description}}</td>
                    <td class="item-actions">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <form method="POST" action="{% url 'main:add_item' item.id %}">
                                {% csrf_token %}
                                <button type="submit" name="action" value="add" class="btn btn-outline-success">+</button>
                            </form>
                            <form method="POST" action="{% url 'main:reduce_item' item.id %}">
                                {% csrf_token %}
                                <button type="submit" name="action" value="reduce" class="btn btn-outline-warning">-</button>
                            </form>
                            <a href="{% url 'main:edit_item' item.pk %}">
                                <button type="button" class="btn btn-outline-secondary">Edit</button>
                            </a>
                            <form method="POST" action="{% url 'main:delete_item' item.id %}">
                                {% csrf_token %}
                                <button type="submit" name="action" value="delete" class="btn btn-outline-danger">Delete</button>
                            </form>
                          </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    
        <br />
    
        <a href="{% url 'main:create_item' %}">
            <button class="btn" style="background-color: #B2DFDB;">
                Add New Item
            </button>
        </a>
    </div>


    <div class="footer">
        <div class="text-success"><hr></div>
        <p class="font-monospace" style="font-size: small;">Sesi terakhir login: {{ last_login }}</p>
    </div>

{% endblock content %}